#root {
  margin: 0 auto;
}

.nav-bar{
  width: 90dvw;
  background-color: aliceblue;
  display: flex;
  list-style: none;
  padding: 24px 48px;
  margin: 12px 0px;
  border-radius: 12px;
}

.nav-bar li{
  margin-right: 36px;
}

a{
  color: #004e61;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.word-count-cont{
  display: block;
  background-color: white;
  /* margin: 50px; */
  width: fit-content;
  padding: 36px;
  border-radius: 16px;
  margin: 48px auto;
}

.word-count-cont textarea{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  height: 30dvh;
  width: 60dvw;
  border-style: none;
  border-radius: 8px;
  padding: 16px;
}

.user-table{
  background-color: white;
  padding: 8px;
  width: fit-content;
  border-radius: 12px;
  margin: 0 auto;
}

.user-table img {
  width: 36px;
}

.user-table th {
  height: 40px;
}

.user-table td {
  padding: 16px 4px;
}

.colored-box{
  width: fit-content;
  height: fit-content;
  border-radius: 12px;
  background-color: white;
  padding: 36px;
}
.colored-box-ex{
  width: 20dvh;
  height: 20dvh;
  border-radius: 12px;
  background-color: #800080;
  
}


.pick-color-btn{
  border: none;
  background-color: aquamarine;
  padding: 16px;
  border-radius: 8px;
}

.color-boxes{
  width: 56px;
  height: 56px;
  border-radius: 8px;
  margin-right: 12px;
}

.select-colors{
  display: flex;
}

.color-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.color-square {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.selected-color {
  margin-top: 10px;
  text-align: center;

}